body {
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    text-align: center;
    box-sizing: border-box;
}

.navbar {
    justify-content: space-between;
    align-items: center;
    background-color: #ecd1d6;
    padding: 5px;
    color: white;
}

li {
    list-style: none;
    display: inline;
    font-size: larger;
    margin-left: 100px;
    margin-right: 100px;
}

.box {
    background-color: #715d5d;
    margin: 20px 100px 10px 100px;
    padding: 250px;
    text-align: center;
    border-radius: 20px;
}

h1 {
    color: #dcbfc5;
    font-size: 100px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

a {
    color: white;
}