body {
    background-color: #c4a49e;
}

.box {
    background-color: white;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 70px;
    padding: 250px;
    text-align: center;
    border-radius: 10px;
}

h1 {
    color: black;
}