body {
    background-color: #101114;
    margin: 0;
    padding: 0;
    text-align: center;
    box-sizing: border-box;
}

h1 {
    color: #4A4D57;
    font-size: 140px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 1px;
}

.quote {
    font-size: 20px;
    font-style: italic;
    margin-top: 2px;
    margin-bottom: 2px;
    color: #4A4D57;
}

.exp {
    font-size: 18px;
    font-style: italic;
    margin-top: 5px;
    margin-bottom: 120px;
    color: #4A4D57;
}

.top-line {
    border: 0;
    height: 4px;
    background-color: #d1428e;
    margin-top: 20px;
}

.bottom-line {
    border: 0;
    height: 4px;
    background-color: #d1428e;
    margin-top: 400px;
}