:root{
    --secondary-color: #bcb5ae;
}

*{
    margin: 0;
    padding: 0;
}

html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16pt;
}

body {
    min-height: 100vh;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #bcb5ae;
}

.top{
    margin-top: 20px;
    width: 120%;
    background-color: white;
    height: 2px;
}

.bottom{
    width: 120%;
    background-color: white;
    height: 2px;
}

h1 {
    margin-top: 60px;
    margin-bottom: 2px;
    font-size: 120px;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    color: white;
}

.quote {
    text-align: center;
    font-size: 20px;
    font-style: italic;
    margin-top: 2px;
    margin-bottom: 2px;
    color: white;
}

.exp {
    text-align: center;
    font-size: 18px;
    font-style: italic;
    margin-top: 5px;
    margin-bottom: 40px;
    color: white;
}

input::placeholder {
    color: white;
  }
  

.wrapper{
    width: 700px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 160px;
}

#todo-input{
    box-sizing: border-box;
    padding: 12px 20px;
    width: 100%;
    background: none;
    border: 2px solid white;
    border-radius: 1000px;
    font: inherit;
    color: white;
    caret-color: white;
}

#todo-input:focus{
    outline:none
}

form{
    position: relative;
}

#add-button{
    position: absolute;
    top: 0;
    right: 0;
    background-color: white;
    height: 100%;
    padding: 0 30px;
    border: none;
    border-radius: 1000px;
    font-weight: 600;
    color: #bcb5ae;
    cursor: pointer;
}

.todo{
    margin-bottom: 10px;
    padding: 0 16px;
    background-color: white;
    border-radius: 15px;
    display: flex;
    align-items: center;
}

.todo .todo-text{
    padding: 15px;
    padding-right: 0;
    flex-grow: 1;
    transition: 200ms ease;
}

.delete-button{
    padding: 3px;
    background: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.delete-button svg{
    transition: 200ms ease;
}

.delete-button:hover svg{
    fill: red;
}

.custom-checkbox{
    border: 2px solid #bcb5ae;
    border-radius: 50%;
    min-height: 20px;
    min-width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    transition: 200ms ease;
    cursor: pointer;
}

input[type="checkbox"]:checked ~ .custom-checkbox{
    background-color: #bcb5ae;
}

input[type="checkbox"]:checked ~ .custom-checkbox svg{
    fill: white;
}

input[type="checkbox"]:checked ~ .todo-text{
    text-decoration: line-through;
    color: #bcb5ae;
}

input[type="checkbox"]{
    display: none;
}

@media(max-width:500px){
    html{
        font-size: 12pt;

    }
    #add/button{
        position: unset;
        width: 100%;
        margin-top: 10px;
        padding: 15px;
        height: auto;
    }
    h1{
        margin-top: 50px;
        font-size: 15vw;
    }
}